@import url(https://fonts.googleapis.com/css?family=Lato);

.title {
  color: black;
  text-align: center;
  font-size: 50px;
}

body {

  background-image: url("images/star.jpeg");

  font-family: 'Lato', sans-serif;
/*  background-color: black;*/
}

.textbox {
  background-color: green;
/*  padding: 10%;
  margin-top: 5%;
  margin-bottom: 5% text-align: left;
  font-size: 34px;
  font-size: 2vw;
  border-radius: 5px;
  box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.5);*/
}