@import url(https://fonts.googleapis.com/css?family=Lato);



body {

  background: url('../image/star.jpg') no-repeat fixed top;
/*  background-repeat:no-repeat;
  background-position: 50% center;*/
  font-family: 'Lato', sans-serif;
  background-color: black;
}

.title {
  color: white;
  text-align: center;
  font-size: 50px;
}

.textbox {
  background-color: rgba(29, 119, 115, 0.82);
  padding: 7%;
  margin-top: 5%;
  margin-bottom: 5%; 
  text-align: left;
  font-size: 2vw;
  border-radius: 20px;
  box-shadow: 20px 20px 20px 0 rgba(126, 128, 2, 0.52);
}

#footer {
  clear: both;
  padding: 10px;
/*  background-color: rgba(29, 119, 115, 0.82);
*/  color: white;
  text-align: center;  
}

.quote-text {
    i {
      font-size:1.0em;
      margin-right: 0.4em;
    }
    text-align:center;

    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.2em;
  }

.quote-author {

  height:auto;
  clear:both;
  padding-top:20px;
  font-size:1em; 
  text-align:right;
}